@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merienda');

/* ---- titles ---- */
/*
  Merienda
*/

/* ---- text ---- */
/*
  Merriweather
*/

/* ---- colors ---- */
/*
button: #EC695C;
*/

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

h1, h2 {
  color: #4a4a4a;
}

h2 {
  font-size: 25px;
}

h3, h2, h1 {
  font-family: Merienda;
}

p {
  font-family: Merriweather;
}

.main-container header h1,
.main-container header h1 {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sales-button {
  width: 150px;
  margin: 0 auto;
  background-color: #EC695C;
  border-radius: 5px;
  height: 40px;
  border: none;
  font-size: 15px;
  color: white;
  
}

.section-container {
  padding: 20px;
}

.benefits h3 {
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.benefits p {
  margin: 0;
  color: white;
  /* padding-top: 10px; */
}

.benefit-one {
  background: url('./assets/benefits1.png');
}

.benefit-two {
  background-image: url('./assets/benefit2.png');

}

.benefit-three {
  background-image: url('./assets/benefit3.png');
}

.benefit-four {
  background-image: url('./assets/benefit4.png');

}

.benefits-background {
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1px;
}

button {
  border: 1px solid black;
}

.benefits ul {
  padding: 0;
}

.benefits li {
  list-style-type: none;
}

.footer h3,
.footer p {
  margin-top: 0;
  text-align: left;
}


