/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

.benefit-one {
  background-image: url('http://via.placeholder.com/150x350');
}

.benefit-two {
  background-image: url('./assets/benefit2.jpeg');
  background-position: center;
}

.benefit-three {
  background-image: url('./assets/benefit3.jpg');
  background-position: center;
}

.benefit-four {
  background-image: url('./assets/benefit4.jpeg');
  background-position: center;
}

button {
  border: 1px solid black;
}

.benefits ul {
  padding: 0;
}

.benefits li {
  list-style-type: none;
}